<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="general">
            <group id="ecomm" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>e-comm features</label>
                <field id="features" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Forms</label>
                    <source_model>Gunjan\Testmodule\Model\Config\Source\Featurelist</source_model>
                    <comment>For multiple selection hold Ctrl/cmd + click.</comment>
                </field>
            </group>
        </section>
    </system>
</config>